body{
    background: url(https://cdn.pixabay.com/photo/2014/12/15/16/57/tree-569275_1280.jpg) center center fixed no-repeat;
    background-size: cover;
    color: #fff;
}
/*title*/
#header{
    text-align: center;
    font-size: 6vw;
    
}

/*lap*/
#lap{
   text-align: right; 
   font-size: 3vw;
}

/*time*/
#time{
    text-align: center;
    font-size: 8vw;
}

/*Buttons*/
#controlsContainer{
    margin-bottom: 100px;
}

.control{
    color: #fff;
    background-color: #d7A04e;
    height: 9vw;
    width: 9vw;
    border-radius: 100%;
    text-align: center;
    padding: 20% 0;
    font-size: 2vw;
    cursor: pointer;
}

.control:active{
    background-color: #fff;
    color: #d7A04e;
}

/*laps*/
#laps{
    max-height: 270px;
    overflow: scroll;
}

.lap{
    height: 50px;
    border-bottom: 1px solid white;
    margin: 15px;  
}

.laptimetitle{
    font-size: 1vm;
    float: left;
}

.laptime{
    font-size: 1.5vm;
    float: right;
}